<!-- Validation failure messages -->
<% if @appointment.errors.any? %>
  <% @appointment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Appointment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_appointment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for doctor_id -->
      <div class="form-group">
        <label for="doctor_id" class="control-label">
          Doctor
        </label>
  <%=select_tag(:doctor_id, options_from_collection_for_select(Doctor.all, :id, :name, @appointment.doctor_id), :class => "form-control")%>

      </div>

      <!-- Label and input for met_on -->
      <div class="form-group">
        <label for="met_on" class="control-label">
          Met on
        </label>

        <input type="text" id="met_on" name="met_on" placeholder="Date" class="form-control" value="<%= @appointment.met_on %>">
      </div>

        <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Enter appointment description (required)" class="form-control" rows="3"><%= @appointment.notes %></textarea>
      </div>


      <button class="btn btn-success">
        Create Appointment
      </button>
      or
      <a href="/appointments">Cancel</a>
    </form>
  </div>
</div>
